.add-cell {
    position: relative;
    margin: 7px 0;
    opacity: 0;
    transition: all .3s ease-in .1s;

}

.add-cell:hover {
    opacity: 1;
}

.add-cell--visible {
    opacity: 1;
}

.add-cell__divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 3%;
    left: 3%;
    border-bottom: 1px solid darkgray;
    width: 94%;
    z-index: -1;
}

.add-cell__buttons {
    display: flex;
    justify-content: center;
}

.add-cell__buttons button{
    margin: 0 40px;
}

